<?xml version="1.0"?>

<appSettings>

  <!-- App Version -->
  <add key="APP_Version" value="0.1.0" />
  <!--/ End App Version -->
  
  <add key="owin:appStartup" value="French.Web.Startup" />
  <add key="owin:AutomaticAppStartup" value="true" />
  
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
  
  <!-- Paging Configuration -->
  <add key="PageSize" value="10" />
  <!--/ End Paging Configuration -->
  
  <!-- MVC Default Page -->
  <add key="Default_Controller" value="Main" />
  <add key="Default_Controller_Action" value="Index" />
  <!--/ End MVC Default Page -->
  
  
  <!--can be used only on machine 61.19.246.121 -->
  <add key="GoogleAPIKey" value="AIzaSyANhGgdpE1BxMsD2dmivn5pza0Hal07-eo"/>
  <add key="GoogleAPIURL" value="https://maps.googleapis.com/maps/api/distancematrix/json?units=si&amp;origins=[SOURCE]&amp;destinations=[DESTINATION]&amp;departure_time=[DEPARTURE_TIME]&amp;arrival_time=[ARRIVAL_TIME]&amp;traffic_model=[TRAFFIC_MODEL]&amp;key=[KEY]"/>

</appSettings>