<!DOCTYPE html>
<!--[if IE 8]>		<html class="lt-ie10 lt-ie9 no-js" lang="en"><![endif]-->
<!--[if IE 9]>		<html class="lt-ie10 modern no-js" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="modern no-js" lang="en">
<!--<![endif]-->
<head>
    @using StackExchange.Profiling;
    <title>Navigo Samui</title>

    <!-- General Data -->
    <meta charset="utf-8" />
    <meta name="robots" content="all" />
    <meta name="author" content="Navigo" />
    <meta name="copyright" content="Copyright 2015 Navigo" />
    <meta name="description" content="Navigo" />
    <meta name="keywords" content="Navigo" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        Bootstrap is not supported in the old Internet Explorer compatibility modes.
        The X-UA-Compatible meta tag allows web authors to choose what version of Internet Explorer the page should be rendered
        Edge mode tells IE to display content in the highest mode available
        -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="./Scripts/html5shiv.min.js"></script>
        <script src="./Scripts/respond.min.js"></script>
    <![endif]-->
    @RenderSection("ContentBlock", false)
    @RenderSection("ScriptBlock", false)
</head>
<body>
    @MiniProfiler.RenderIncludes()
    @*<nav class="navigo-main-navigation">
        <div class="navigo-logo"><img src="./images/logo-navigo.gif" alt="Navigo" /></div>
    </nav>*@<!-- Main Navigation -->
    
    @RenderBody()

</body>
</html>