

<style type="text/css">
    .selected {
   border:2px solid red;
}
</style>


<div class="title-header row colspace-clear">
    <div class="col-sm-10">
        <h2 class="no-margin">
            <i class="fa fa-user margin-right-10"></i>
            {{Title}}
        </h2>
    </div>
</div>

<ul class="page-breadcrumb">
    <li>
        <a ui-sref="admin.dashboard" href="#/admin/dashboard">Dashboard</a>
    </li>
    <li>
        <a ui-sref="admin.viewCar" >Cars Management</a>
    </li>
    <li>
        <a class="active">{{Title}}</a>
    </li>
</ul>
<div class="form-content">
    <div class="row colspace-clear">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" name="carForm" novalidate>
                <div class="form-group row colspace-30">
                    <label class="col-sm-3 control-label">Model<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="carModel" placeholder="Model" ng-model="carInfo.Model"
                               ng-disabled="Title == 'Detail Car'"
                               ng-class="{'error' : {{ carModel }} }" required>
                    </div>
                </div>
                <div class="form-group row colspace-30">
                    <label class="col-sm-3 control-label">Brand<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="carBrand" placeholder="Brand" ng-model="carInfo.Brand"
                               ng-disabled="Title == 'Detail Car'"
                               ng-class="{'error' : {{ carBrand }} }" required>
                    </div>
                </div>
                <div class="form-group row colspace-30">
                    <label class="col-sm-3 control-label">PlateNumber<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="PlateNumber" placeholder="กก9999" ng-model="carInfo.PlateNumber"
                               ng-disabled="Title == 'Detail Car'"
                               ng-class="{'error' : {{ PlateNumber }} }" required>
                    </div>
                </div>
                <div class="form-group row colspace-30">
                    <label class="col-sm-3 control-label">Year<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <select ng-model="model" ng-options="year for year in years"></select> 
                    </div>
                </div>
                <div class="form-group row colspace-30">
                    <label class="col-sm-3 control-label">Color<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="Color" placeholder="Color" ng-model="carInfo.Color"
                               ng-disabled="Title == 'Detail Car'"
                               ng-class="{'error' : {{ Color }} }" required>
                    </div>
                </div>
                <div class="form-group row colspace-30">

                    <label class="col-sm-3 control-label">Carstype<span class="text-danger">*</span></label>
                    <!--<ul>
                        <li ng-repeat="item in carstype" ng-click="toggle(carstype)" ng-class="{'selected':item.selected}">
                            <div style="background-image: url({{item.imageUrl}});height:36px; width:40px;display:inline-block"></div>
                            <div><img src="{{item.imageUrl}}" /></div>
                            <div><img src="../Content/Common/images/pin_navivan.png" /></div>
                            <div>{{item.name}}</div>
                            <select ng-options="color.name by name in carstype" ng-model="selected"></select>
                        </li>
                    </ul>
                    <select ng-model="choice">
                        <option ng-repeat="item in carstype" data-image="{{item.imageUrl}}"><img src="{{item.imageUrl}}"/>{{item.name}}</option>
                    </select>-->
                    <select ng-model="carInfo.CarTypeID" ng-init="carInfo.CarTypeID = carstype[0]" id="CarTypeID" ng-options="type.name for type in carstype">
                    </select>
                </div>
                <div class="form-group row colspace-30">
                    <label class="col-sm-3 control-label">CurrentDriverID<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="CurrentDriverID" placeholder="0" ng-model="carInfo.CurrentDriverID"
                               ng-disabled="Title == 'Edit Car' || Title == 'Detail Car'"
                               ng-class="{'error' : {{ CurrentDriverID }} }" required>
                    </div>
                </div>
                <div class="form-group row colspace-30">
                    <label class="col-sm-3 control-label">Photo1<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <img id="photo1"  src="{{ photo1 }}" style="max-width:100%;max-height:100%;"/>
                    </div>
                    <div class="col-sm-9" ng-hide="Title == 'Detail Car'">
                        <input type="file"  ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                    </div>
                </div>
                



                <div class="form-group row colspace-30 text-right">
                    <button class="btn btn-primary min-w-100" ng-click="save(carForm.$valid)" ng-hide="Title == 'Detail Car'">Save</button>
                    <button class="btn btn-default min-w-100" ui-sref="admin.viewCar">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>